.preloader {
    position: fixed;
    inset: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 10000;
}

.pre-dimi {
    font-family: var(--font-header);
    font-size: 20rem;
    margin: 0;
    margin-bottom: 2rem;
    transform-origin: top left;
}

.progress-bar {
    width: 20rem;
    height: 4px;
    background: #eee;
    margin: 0;
    overflow: hidden;
}

.progress-fill {
    width: 0;
    height: 100%;
    background: black;
}